################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnidadPedagogicaSDStaticInfo.BS
/.vs/UnidadPedagogicaSD.StaticInfo/v15/Server/sqlite3/db.lock
