body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#left_side {
    float: left;
}

#center_s {
    margin-left: auto;
    margin-right: auto;
    width: 65px;
    background-color: #ccc;
}

#right_side {
    float: right;
    padding-left:10%;
    padding-right:10%;

}

#r1 {
    font-size: 120%;
    text-justify: inter-word;
    text-align: justify;
}

#r2 {
    font-size: 120%;
    text-justify: inter-word;
    text-align: justify;
}

.r33{
    text-justify: inter-word;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}

#r33 {
    text-justify: inter-word;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}


.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}


#right_side2{
    float: right;
    padding-left: 10%;
    padding-right: 10%;
}


#FiloP {
    text-justify: inter-word;
    text-align: justify;
    display: inline-block;
    font-size: 120%;
    font-family: Arial;
}

