
@{
    ViewBag.Title = "Primaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/dataTables.material.min.css");
    @Styles.Render("~/Content/material.min.css");
}
<link href="~/Content/dataTables.material.min.css" rel="stylesheet" />
<link href="~/Content/material.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTable/jquery-3.3.1.js"></script>
<script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTable/dataTables.material.min.js"></script>

<br /><br /><br />
<h5><strong>Docentes Primaria</strong></h5>
<hr />
<table id="example" class="mdl-data-table" style="width:100%;background-color:#FCFBFE">
    <thead>
        <tr>
            <th>Docente</th>
            <th>Asignatura</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Christ Villavicencia Rivas</td>
            <td>Preescolar</td>

        </tr>

        <tr>
            <td>Mabelle Ulloa Mattey</td>
            <td>Preescolar</td>

        </tr>
        <tr>
            <td>Jony Luz Vargas Burga</td>
            <td>Preescolar</td>

        </tr>
        <tr>
            <td>Jeannette Elizondo Valverde</td>
            <td>Preescolar</td>
        </tr>

        <tr>
            <td>Tatiana Gonzales Varela</td>
            <td>Transición</td>

        </tr>
        <tr>
            <td>Miriam Regueyra Rodríguez</td>
            <td>Transición</td>

        </tr>
        <tr>
            <td>Vanessa Carballo Zeuli</td>
            <td>Transición</td>

        </tr>
        <tr>
            <td>Yorleny Rodríguez Ortíz</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Emma Méndez Mora</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Marisela Coto Quesada</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Aracelly Zúñiga Espinoza</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>
                Laura Montero Brenes
            </td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Guiselle Godínez Godínez</td>
            <td>Primer Ciclo </td>

        </tr>
        <tr>
            <td>Maribel Aguilar Mora</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Miriam Vargas Calderón</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Lilliam Alejandra Cruz Orozco</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Jossette Campos Uba</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Karent Patricia Arrieta Torres</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Caridad Obando Barquero</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Sabrina Hernández Calvo</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>María Luisa Barreda Arce</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Karla Montoya Córdoba</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Yancy Aguilar Gamboa</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Julieta Castillo Bolaños</td>
            <td>Primer Ciclo</td>

        </tr>

        <tr>
            <td>Billijeam Monge Ujueta</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>Isaura Montoya Monge</td>
            <td>Primer Ciclo</td>

        </tr>
        <tr>
            <td>María Teresa Alvarez Suárez</td>
            <td>Primer Ciclo</td>

        </tr>

        <tr>
            <td>Alighierie Solano Vargas</td>
            <td>Primer Ciclo</td>

        </tr>

        <tr>
            <td>María José Chinchilla Rodríguez</td>
            <td>Bibliotecólogo</td>

        </tr>

        <tr>
            <td>Natalia Flores Guillén</td>
            <td>Terapía de Lenguaje</td>

        </tr>
        <tr>
            <td>Lilliam Obando Solano</td>
            <td>Terapía Emocional</td>

        </tr>
        <tr>
            <td>Leticia Torres Elizondo</td>
            <td>Apoyo</td>

        </tr>
        <tr>
            <td>Itza Vega Solano</td>
            <td>Aula Recurso</td>

        </tr>
        <tr>
            <td>Noilyn Adriana Mena Salazar</td>
            <td>Francés</td>

        </tr>
        <tr>
            <td>Ericka Araya Gómez</td>
            <td>Informática</td>

        </tr>
        <tr>
            <td>Cristian Lorena Luna Paniagua</td>
            <td>Religión</td>

        </tr>
        <tr>
            <td>Juan Manuel Obando Solano</td>
            <td>Música</td>

        </tr>
        <tr>
            <td>Xendy Viguez Umaña</td>
            <td>Informática</td>

        </tr>
        <tr>
            <td>Mirania Villareal Gutiérrez</td>
            <td>Educación Fisica</td>

        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Docente</th>
            <th>Asignatura</th>

        </tr>
    </tfoot>
</table>



<br /><br /><br /><br /><br /><br />

@section Scripts{

    <script src="~/Scripts/DataTable/jquery-3.3.1.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTable/dataTables.material.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                columnDefs: [
                    {
                        targets: [0, 1],
                        className: 'mdl-data-table__cell--non-numeric'
                    }
                ],

                "aLengthMenu": [100, 50, 10],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "responsive": true,
                "bAutoWidth": false,
                "language": {
                    "zeroRecords": "Docente no encontrado",
                    "search": "Buscar Docente:"
                }

            });
        });

    </script>


    <script>
        $('#example').hide(0).delay(200).fadeIn(500);
       
    </script>
}

