
@{
    ViewBag.Title = "Historia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/Style.css");
}

<div class="container">
    <br />
    <br />
   
    <div class="root" id="MisionContainer" style="max-width:100%;height:auto">


        <div class="row">
            <div class="col-md-6 offset-lg-0" style="max-width:100%;height:auto">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <img class="col-sm-12 " style="max-width:100%;height:auto" src="~/Images/old2.png" />

                <h5 style="padding-left:25%">Escuela San Diego 1928</h5>
                <hr />
                <br />
                <img class="col-sm-12 " style="max-width:100%;height:auto" src="~/Images/oldSchool.png" />
            </div>

            <br />


            <div class="col-md-6">
                <h3 class="text-primary text-center">Historia</h3>

                <p id="r2">
                    Después de la conquista, cuando se comenzó a fundar el pueblo, Diego Conejo, regaló un lote para la construcción de la escuela, primeramente, se elaboró un galerón con tejas.
                    Después, se hizo una escuela de adobe, con una sola aula y en la administración de don Cleto González Víquez en el período de 1928 a 1932, en un terrero donado por Rafael Barquero Conejo, donde actualmente se encuentra la escuela, a la cual después de haber decidido no ponerle el nombre de la persona que donó el terreno se le nombró Escuela Mixta San Diego por decisión de la comunidad.  Se construyeron las dos aulas, de cal y canto.  Estas aulas sirvieron hasta 1950 y a hoy (2010) mantienen vigencia.  Se empezó dando solamente clases a los niños de 1°, 2° y 3°.  Se recibían niños y niñas que tuvieran siete años en adelante, pero no antes.  Había pocos habitantes y los niños y niñas se dedicaban a ayudar en sus casas, por lo tanto, no iban a la escuela, es por eso que el Juez de Paz (ahora policía) llegaba casa por casa para ver si había niños para mandarlos a la escuela.
                    Para el año 1950 se comenzó a impartir lecciones a niños de 4°, en 1955 se inició con 5° grado. En 1963 se dio clases al primer 6° grado.  A estos se les realizaban unas pruebas, las cuales las llegaba a aplicar el señor Claudio Navarro, subdirector, desde Cartago.  Esta prueba se pasaba con una nota superior o igual a sesenta.
                    El horario de clases era el siguiente:
                    De lunes a viernes se entraba a las siente de la mañana y cada período duraba ochenta minutos, se salía a las tres de la tarde, los recreos duraban de cinco a veinte minutos.
                    Los sábados se entraba a las siete de la mañana y se salía a medio día, esto por una ley que existía en esa época.
                    Las clases iniciaban en marzo y salían en la última semana noviembre.
                    La escuela sufrió varias reparaciones, por ejemplo, antes estaba rodeada por barandas que fueron cambiadas por un muro. Las maestras tenían un espacio en donde estaba la huerta y los jardines, en los cuales se sembraban matas de rosa, las piedras estaban pintadas con colores y había un arco por donde los niños pasaban.
                    El comedor y el Kinder funcionaron el 1970, en el salón comunal, los alimentos se preparaban en la cocina de la Iglesia y los niños pasaban a uno de los dos salones, ya que en el otro se impartían las clases del Kinder.  Años más tarde, se trasladó el Kinder a un aula de la escuela y después a las aulas en donde actualmente se encuentra.
                    En sus inicios, el Kinder contaba con una directora y la escuela con un director o directora aparte.

                </p>

            </div>

        </div>



    </div>

    <hr />
    <br />

    <div id="visionContainer" class="col-md-6 pull-left">

        <p id="r2">
            Sin embargo, estas aulas, en donde ahora se ubica el Kinder, fueron utilizados en un principio por docentes y alumnos de la escuela.  Según recuerda doña Maritza ella laboró en el aula No.25. esta aula estaba totalmente amueblada y además contaba con pizarras en las tres paredes, lo que permitía que se copiara la materia y los alumnos que lo habían con mayor lentitud no se les borrara la pizarra y así estos no se atrasaban.
            El lote de atrás se le compró en 1970 al señor Samuel Víquez, ciudadano de Tres Ríos, en la suma de ¢40.000.  Ahí se hizo el comedor y un pabellón.
            La construcción del comedor se dio gracias a la colaboración del Ministerio de Educación y al pueblo quien contribuyó en las diversas actividades tales como turnos y rifas.
            La primera biblioteca fue donada por Joaquín Tinoco, por esta razón la biblioteca llevaba ese nombre, no obstante, años más tarde se cambió de lugar la biblioteca adonde se encuentra hay por hoy e incluso el nombre se le cambió por el del Padre Walter Arce.
            A partir del 2004, surge la idea de parte de unos padres de familia junto con el director de que la institución se convierta e Unidad Pedagógica, ante la necesidad de un colegio cercano, ya que eran muchos los niños y no había suficientes campos en otras instituciones tales como el C:T:P: Mario Quirós Sasso y el Liceo Nuevo de San Diego.
            La Unidad Pedagógica San Diego fue fundada en el 2005 con los mismos niños que el año anterior obtuvieron el sexto grado. La primera directora de la UPSD fue doña Maribel Ramírez Cordero.
            En el 2010, 82 años después que fue fundada esa pequeña escuela, se reciben niños desde materno (Interactivo II), Transición, Aula Integrada, 1° Grado, 2° Grado, 3° Grado 4° Grado, 5° Grado, 6° Grado, 7° Año, 8° Año y 9° Año.
            Actualmente cuenta con Dirección, Secretaría, Sala de Conserjes, Oficina de atención en Secundaria, Sala de Profesores, Biblioteca, Comedor, Bodega, Fotocopiadora, planché que funciona como cancha, en la cual se imparten lecciones de educación física, también cuenta con 25 aulas, con Laboratorio de Cómputo, Aula Integrada, Aula de Terapia Emocional, Aula de Terapia de Lenguaje, Aula de Recurso, tres aulas de Preescolar.
            Con respecto a uno de los servicios con los que cuenta dentro de la institución es el de la fotocopiadora, inicialmente se daba servicio de polígrafo, había un encargado de realizar las copias de los exámenes y hojas de trabajo, una por una con la utilización del polígrafo manual, los maestros tenían acceso a este y en la clase, podían realizar este trabajo.  Para los exámenes se contaba con un cuaderno específicamente para exámenes.  En la actualidad se tiene servicio de fotocopiado, servicio que se presta dentro de la institución a las y los docentes.  Para ello hay una persona encargada.
            También se cuenta con soda interna, los niños y niñas antes debían asistir a la pulpería de Daniel Richmond, la cual aún existe.

        </p>


    </div>
    <div class="col-md-6">
        <br />
        <img src="~/Images/old1.png" class="col-md-pull-1 pull-right" style="max-width:100%;height:auto" />
        <h5 style="padding-left:25%">Escuela San Diego 2005</h5>
        <br /><br />
        <img src="~/Images/2.jpg" class="col-md-pull-1 pull-right" style="max-width:100%;height:auto" />
        <h5 style="padding-left:25%">Escuela San Diego 2013</h5>
    </div>
    <div class="row"></div>
</div>
<br />
<br />
<script>
    $('#MisionContainer').hide(0).delay(500).fadeIn(1000);
    $('#visionContainer').hide(0).delay(1000).fadeIn(1000);
</script>


