@{
    ViewBag.Title = "UPSD";
    @Styles.Render("~/Content/style.css");
    @Styles.Render("~/Content/bootstrap.min.css");
 


}

<br />
<br />
<br /><br /><br />
<div class="container">
    <div class="col-lg-4 table-bordered" style="background-color:darkslategrey;max-width:100%;height:auto;">
        <h1 class="text-center" style="color:white">Bienvenidos</h1>
        <br /> <br /> <br />
                      
        <img src="~/Images/Imagenes Reducidas/Logo.jpg" class="center-block" style="max-width:100%;height:auto" />
        <br /> <br /> <br /><br /> <br /> <br /><br /> 
    </div>
    <div class="col-lg-8">
        <div class="slideshow">
            <ul class="slider">

                <li>
                    <img src="~/Images/Imagenes Reducidas/pt1.jpg" alt="">

                </li>
                <li>
                    <img src="~/Images/Imagenes Reducidas/pt2.jpg" alt="">

                </li>
                <li>
                    <img src="~/Images/Imagenes Reducidas/1zx.jpg" alt="">

                </li>

            </ul>
        </div>
    </div>
</div>
<br /><br />
      <link href="~/Content/estilos.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/main.js"></script>
}