
@{
    ViewBag.Title = "Valores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<h3 id="Con1" style="text-align:center;max-width:100%;height:auto" class="text-primary">Valores de la Institución</h3>

<hr />
<div class="container" id="Con">

    <img class="col-md-11 pull-right" src="~/Images/valores.png" style="max-width:100%;height:auto;" />
    <br />
</div>


<script>
    $('#Con1').hide(0).delay(500).fadeIn(1000);
    $('#Con').hide(0).delay(1000).fadeIn(1000);

</script>